@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.slide__main{background-image:url(../img/main-slide-s.jpg)}}@media all and (min-width:1100px){.slide__main{background-image:url(../img/main-slide-m.jpg)}}@media all and (min-width:1450px){.slide__main{background-image:url(../img/main-slide-l.jpg)}}.body__main{background-image:url(../img/main-slide-default.jpg)}@media all and (min-width:650px){.body__main{background-image:url(../img/main-slide-tab.jpg)}}@media all and (min-device-width:650px) and (min-device-height:650px) and (min-width:650px){.body__main{background-image:none}}
/*
     FILE ARCHIVED ON 11:10:22 Nov 09, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:55:47 Nov 06, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 269.324
  exclusion.robots: 0.195
  exclusion.robots.policy: 0.185
  RedisCDXSource: 1.746
  esindex: 0.009
  LoadShardBlock: 235.317 (3)
  PetaboxLoader3.datanode: 143.267 (4)
  CDXLines.iter: 28.845 (3)
  PetaboxLoader3.resolve: 75.321 (2)
  load_resource: 77.07
*/